_backup_non_rag_20251228_115817

llama

browser_profile

tests
scripts
full_system_test.py

test_api_v2.py

init_db.py
init_postgres_db.py
create_table.py

.env
.env.example
run_main.py
required.txt
pytest.ini

web_extractions
web_extractions_demo
research_outputs
models
memory_snapshots
food
docs
comprehensive_web_search
alembic
chroma_db
data


interactions.db
interactions.db-shm
interactions.db-wal
server.log
memory.db
health_data.db
alembic.ini
__pycache__
*.pyc
.vscode
.ipynb_checkpoints
dump.rdb
app_run_5.log
core_postgresql_schema.sql
.python-version

Docker